body {
    background-image: url("../img/bg.jpg");
    /* background-size: 100vw 100vh; */
}

html,
body {
    height: 100%;
}

body {
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.picture {
    display: block;
   width: 80%;
   min-height:80%;
  
   margin: 2% auto;

}

.footerImg {
    opacity: .5;
    display: block;
    max-width:80%;
    height: auto; /* maintain aspect ratio*/
    margin: auto; /*optional centering of image*/

}